body {
    background-color: #f8f9fa;
}

h1, h2 {
    font-family: 'Arial Black', sans-serif;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-body {
    background-color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.text-primary {
    color: #007bff !important;
}
